## Imports

In [26]:
from pathlib import Path
import json
import pandas as pd

In [2]:
ROOT_PATH = Path().absolute().parent

In [3]:
ann_path = ROOT_PATH.joinpath('cococaption',
                              'annotations',
                              'captions_val2014.json')

In [6]:
data_dict = {}
with open(ann_path, 'r') as json_file:
    data_dict = json.load(json_file)

In [7]:
print(data_dict.keys())

dict_keys(['info', 'images', 'licenses', 'type', 'annotations'])

In [49]:
print(data_dict['info'])

{'description': 'This is stable 1.0 version of the 2014 MS COCO dataset.', 'url': 'http://mscoco.org', 'version': '1.0', 'year': 2014, 'contributor': 'Microsoft COCO group', 'date_created': '2015-01-27 09:11:52.357475'}

In [15]:
print(data_dict['info']['date_created'])

2015-01-27 09:11:52.357475

### Find out if Flickr8k split is the same on original and Karpathy split

In [30]:
karp_f8_path = ROOT_PATH.joinpath('data', 'interim', 'karpathy_split')
og_f8_path = ROOT_PATH.joinpath('data', 'interim', 'Flickr8k')

In [28]:
k_train = pd.read_csv(karp_f8_path.joinpath('flickr8k_train.csv'))
k_test = pd.read_csv(karp_f8_path.joinpath('flickr8k_test.csv'))
k_val = pd.read_csv(karp_f8_path.joinpath('flickr8k_val.csv'))

In [31]:
og_train = pd.read_csv(og_f8_path.joinpath('Flickr8k_train.csv'))
og_test = pd.read_csv(og_f8_path.joinpath('Flickr8k_test.csv'))
og_val = pd.read_csv(og_f8_path.joinpath('Flickr8k_val.csv'))

In [32]:
len(k_train) == len(og_train)

True

In [33]:
len(k_test) == len(og_test)

True

In [34]:
len(k_val) == len(og_val)

True

In [35]:
len(og_train)

30000

In [39]:
og_train

,Unnamed: 0,Unnamed: 0.1,image_id,caption_id,caption
0,0,0,1000268201_693b08cb0e.jpg,1000268201_693b08cb0e.jpg#0,A child in a pink dress is climbing up a set o...
1,1,1,1000268201_693b08cb0e.jpg,1000268201_693b08cb0e.jpg#1,A girl going into a wooden building .
2,2,2,1000268201_693b08cb0e.jpg,1000268201_693b08cb0e.jpg#2,A little girl climbing into a wooden playhouse .
3,3,3,1000268201_693b08cb0e.jpg,1000268201_693b08cb0e.jpg#3,A little girl climbing the stairs to her playh...
4,4,4,1000268201_693b08cb0e.jpg,1000268201_693b08cb0e.jpg#4,A little girl in a pink dress going into a woo...
...,...,...,...,...,...
29995,40450,40450,997338199_7343367d7f.jpg,997338199_7343367d7f.jpg#0,A person stands near golden walls .
29996,40451,40451,997338199_7343367d7f.jpg,997338199_7343367d7f.jpg#1,a woman behind a scrolled wall is writing
29997,40452,40452,997338199_7343367d7f.jpg,997338199_7343367d7f.jpg#2,A woman standing near a decorated wall writes .
29998,40453,40453,997338199_7343367d7f.jpg,997338199_7343367d7f.jpg#3,The walls are covered in gold and patterns .
29999,40454,40454,997338199_7343367d7f.jpg,997338199_7343367d7f.jpg#4,"Woman writing on a pad in room with gold , dec..."

In [43]:
def same(data, other):
    otherset = set([im for im in other.loc[:, 'image_id']])
    for image in data.loc[:, 'image_id']:
        if image not in otherset:
            return False
    return True

In [44]:
same(k_train, og_train)

True

In [45]:
same(k_val, og_val)

True

In [46]:
same(k_test, og_test)

True