In [1]:
import matplotlib.pyplot as plt
import numpy as np
from pathlib import Path
import pandas as pd

In [3]:
ROOT_PATH = Path().absolute().parent

In [4]:
basic_result_path = ROOT_PATH.joinpath('data', 'processed', 'test_results.csv')
adaptive_result_path = ROOT_PATH.joinpath('data', 'processed', 'adaptive_test_results.csv')

In [ ]:
save_path = ROOT_PATH.joinpath('notebooks', 'visuals')

In [6]:
basic_result_df = pd.read_csv(basic_result_path)
basic_result_df

,Unnamed: 0,Unnamed: 0.1,model,dataset,b1,b2,b3,b4,m,r,c,s
0,0.0,0.0,basic_exp_01-May-2020_(05:42:18),c2,0.669058,0.483351,0.338622,0.236642,0.221694,0.486920,0.776404,0.150293
1,1.0,1.0,basic_exp_04-May-2020_(00:24:18),c2,0.665108,0.478739,0.333406,0.231589,0.221035,0.484742,0.766270,0.151792
2,2.0,2.0,basic_exp_05-May-2020_(19:11:32),c2,0.665990,0.480592,0.336438,0.236355,0.220597,0.485415,0.769925,0.149419
3,3.0,3.0,basic_exp_07-May-2020_(07:06:16),c2,0.667149,0.481843,0.337281,0.235881,0.220766,0.485534,0.765396,0.149255
4,4.0,4.0,basic_exp_08-May-2020_(01:12:31),c2,0.664032,0.478852,0.334020,0.232723,0.219495,0.483282,0.768219,0.150245
...,...,...,...,...,...,...,...,...,...,...,...,...
70,NaN,NaN,basic_08-May-2020_(21:46:09),coco,0.671385,0.490180,0.347492,0.246531,0.226543,0.492319,0.813025,0.155251
71,NaN,NaN,basic_08-May-2020_(21:46:13),coco,0.673247,0.491072,0.347602,0.245834,0.226678,0.493376,0.814906,0.157043
72,NaN,NaN,basic_08-May-2020_(22:16:18),coco,0.679351,0.498609,0.354748,0.251195,0.228059,0.495736,0.820980,0.157414
73,NaN,NaN,basic_08-May-2020_(22:32:32),coco,0.671508,0.490471,0.348854,0.248209,0.228085,0.493894,0.814678,0.157045
74,NaN,NaN,basic_08-May-2020_(23:14:34),coco,0.671619,0.492441,0.350103,0.249072,0.227008,0.493799,0.814147,0.157508

In [8]:
basic_result_df = basic_result_df.loc[:, ['model', 'dataset', 'b1', 'b2', 'b3', 'b4', 'm', 'r', 'c', 's']]

In [10]:
b_baseline_df = basic_result_df.loc[basic_result_df.loc[:,'dataset']=='coco', :]
b_baseline_df

,model,dataset,b1,b2,b3,b4,m,r,c,s
70,basic_08-May-2020_(21:46:09),coco,0.671385,0.490180,0.347492,0.246531,0.226543,0.492319,0.813025,0.155251
71,basic_08-May-2020_(21:46:13),coco,0.673247,0.491072,0.347602,0.245834,0.226678,0.493376,0.814906,0.157043
72,basic_08-May-2020_(22:16:18),coco,0.679351,0.498609,0.354748,0.251195,0.228059,0.495736,0.820980,0.157414
73,basic_08-May-2020_(22:32:32),coco,0.671508,0.490471,0.348854,0.248209,0.228085,0.493894,0.814678,0.157045
74,basic_08-May-2020_(23:14:34),coco,0.671619,0.492441,0.350103,0.249072,0.227008,0.493799,0.814147,0.157508

In [13]:
b_baseline_df.describe()

,b1,b2,b3,b4,m,r,c,s
count,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000
mean,0.673422,0.492555,0.349760,0.248168,0.227275,0.493825,0.815547,0.156852
std,0.003400,0.003494,0.002984,0.002128,0.000747,0.001238,0.003123,0.000920
min,0.671385,0.490180,0.347492,0.245834,0.226543,0.492319,0.813025,0.155251
25%,0.671508,0.490471,0.347602,0.246531,0.226678,0.493376,0.814147,0.157043
50%,0.671619,0.491072,0.348854,0.248209,0.227008,0.493799,0.814678,0.157045
75%,0.673247,0.492441,0.350103,0.249072,0.228059,0.493894,0.814906,0.157414
max,0.679351,0.498609,0.354748,0.251195,0.228085,0.495736,0.820980,0.157508

In [ ]:
plt.figure(figsize=(15,10))




plt.savefig(save_path.joinpath('something.pdf'))